.App {
  text-align: center;
  background: rgb(224, 224, 224);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.contain {
  padding: 0px 100px !important;
  background: rgb(224, 224, 224);
}

.verify-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.verify-message,
.verifying {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
}

.verifying {
  z-index: 10;
  width: 100%;
  height: 100vh;
}


@media only screen and (max-width: 768px) {
  .contain {
    padding: 0px 20px !important;
  }
}

@media only screen and (max-width: 960px) {
  .contain {
    padding: 0px 10px !important;
  }
}